@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Avaliação</h1>
    <p>Sobre o aplicativo <a href="https://docs.microsoft.com/aspnet/core">Desenvolvido com ASP.NET Core</a>.</p>
</div>
